*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}


body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6e6ff;
}

.row{
  width: 100%;
}

.subjects{
  text-align: center;
  text-decoration: underline;
  margin-bottom: 30px;
}

.mypage{
 position: relative;
 top:60px;
 margin: 15px; 
}

.item{
  position: relative;
  top: 0;
  background-color:#e6f9ff; /*blue*/
  margin: 15px;
  padding: 25px;
  border: 3px solid #000;
}

.item p{
  margin-top: 18px;
  text-align: justify;
  font-size:100%;
}

.box00{
  position: absolute;
  top:0;
  right: 0px;
  background: green; 
  padding: 6px 90px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

#title01 {
  background-color: #ff0000; /*red*/
} 

#title02{
  background-color: #009933; /*green*/
}

#title03{
  background-color: #d4d4aa; /*light brown*/
}

/*Responsive design for desktop*/
@media (min-width: 992px){
  .box01and02 {
    float: left; 
    width: 33.33%; 
  }
  
  .box03 {
    float: left; 
    width: 33.33%;
  }
}


/*Responsive design for tablet*/
@media (min-width: 768px) and (max-width: 991px){
  .box01and02 {
    width: 50%;
    float: left;
  }
  .box03{
   width: 100%;
   float: left;
 }
}


/*Responsive design for mobile*/
@media (max-width: 767px){
  .box01and02 .box03{
    width: 100%;
    float: left;
  }
}